#main_dangkytaikhoan {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    min-width: 350px;
    border: 1px solid green;
    border-radius: 10px;
    padding: 20px;
    min-height: 600px;
    margin-top: 5px;
}